@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.otf");
}

:root {
  --font-family: "Graphik", sans-serif;
}

:root {
  --primary: #4452fe;
  --secondary: #02e4c0;
  --secondary: #112d57;
  --first-text: #000;
  --light-text: #fff;
  --second-text: #5c5c5c;
  --dark-background: #181818;
  --light-background: #fff;
}

body {
  background-color: var(--dark-background);
}

.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
}

/* -----HEADER----- */
.header .container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.logo_link {
  padding: 10px;
  width: 206px;
  height: 78px;
}

.logo_img {
  width: 186px;
  height: 58px;
}

.nav {
}

.nav_list {
  display: flex;
  gap: 32px;
  padding: 10px;
}

.nav_item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text);
  cursor: pointer;
}

.nav_item:hover,
.nav_item:focus {
  color: var(--primary);
}

.auth {
}

.login {
  border: 1px solid var(--light-text);
  padding: 14px 36px;
  /* width: 139px; */
  /* height: 52px; */
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 147%;
  letter-spacing: 0.01em;
  color: var(--light-text);
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--primary);
}

.header_burger {
  width: 66px;
  height: 53px;
  display: none;
}

/* -----HERO----- */

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* justify-content: center;/ */
  align-items: center;
  margin-bottom: 36px;
}

.hero_title {
  padding: 10px;
  width: 729px;
  height: 196px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0em;
  text-align: center;
  color: var(--light-text);
}

.hero_text {
  padding: 10px;
  width: 602px;
  height: 80px;
  margin-bottom: 70px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text);
}

.button_box {
  display: flex;
  gap: 36px;
}

.btn {
  border: 1px solid var(--light-text);
  padding: 20px 40px;
  /* width: 174px; */
  height: 65px;
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 147%;
  letter-spacing: 0.01em;
  color: var(--light-text);
}

/* -----BIG IMAGE----- */

.big_img {
  position: relative;
  text-align: center;
  padding-bottom: 152px;
  margin-bottom: 100px;
}

.black_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 551px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}

/* -----FEATURES----- */

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;

  padding-top: 62px;
  padding-bottom: 62px;
  margin-bottom: 100px;
}

.features_title {
  width: 251px;
  height: 62px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: 0em;
  color: var(--light-text);
  text-transform: uppercase;
}

.features_text {
  padding: 0px 10px;
  width: 602px;
  height: 60px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text);
}

.wrap {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 27px;
}

.wrap1 {
  padding: 1px 28px 99px 28px;
  position: relative;
}

.features_image1 {
}

.features_image2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wrap2 {
  padding: 20px;
}

.wrap2_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrap2_list_item {
}

.wrap2_list_item:first-child {
  svg {
    width: 42px;
    height: 38px;
    padding-top: 19px;
  }
}

.wrap2_list_item:nth-child(2) {
  svg {
    width: 34px;
    height: 35px;
    padding-top: 15px;
  }
}

.wrap2_list_item:last-child {
  svg {
    width: 41px;
    height: 19px;
    padding-top: 17px;
  }
}

.title_box {
  display: flex;
  align-items: start;
  width: 195px;
}

.wrap2_item_title {
  padding: 10px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--light-text);
}

.wrap2_item_text {
  padding: 10px;
  height: 116px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--light-text);
}

/* -----CONTENTS -----*/

.contents .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.contents_title {
  padding: 10px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: 0em;
  color: var(--light-text);
}

.contents_text {
  padding: 10px;
  width: 590px;
  margin-bottom: 44px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text);
}

.contents_list {
  display: flex;
  gap: 33px;
}

.contents_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding: 40px 0px 9px 0px;
  width: 476px;
  height: 624px;

  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background: var(--light-text);
}

.contents_item_info {
}

.contents_item_title {
  padding: 10px;
  margin-bottom: 10px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--first-text);
}

.content_item_text {
  padding: 10px;
  width: 288px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--second-text);
}

.contents_btn {
  padding: 20px 36px;
  /* width: 157px; */
  /* height: 52px; */

  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
  background: var(--primary);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 147%;
  letter-spacing: 0.01em;
  color: var(--light-text);
  cursor: pointer;
}

.contents_image1 {
  /* border: 1px solid #d3d3d3;
border-radius: 10px;
padding: 40px 0px;
width: 476px;
height: 624px;

box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background: var(--light-text); */

  position: absolute;
  left:9px;
top: 9px;

  /* left: calc(100% / 2 - 330px / 2); */
}

.contents_image2 {padding: 0;
}

.contents_work {
  position: relative;
}

.bg_img {
  position: relative;
  border: 1.52px solid #9fa2a5;
  border-radius: 5px 5px 0 0;
  width: 330px;
  height: 222px;

  margin-bottom: 31px;

  background: var(--first-text);
}

.contents_base {
  position: absolute;
  left: 35.5px;
  bottom: 45px;

  width: 406px;
  height: 9px;
  background-color: #d8d8d8;
}

.contents_base_bottom {
  position: absolute;
  left: 35.5;
  bottom: 40px;

  width: 406px;
  height: 5px;
  background-color: #9fa2a5;
  border-radius: 0 0 5px 5px;
}

.contents_grip {
  position: absolute;
  left: 210.5px;
  bottom: 48px;

  width: 55px;
  height: 6px;
  border-radius: 0 0 5px 5px;
  background-color: #9fa2a5;
}

/* -----GALLARY----- */

.gallery .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_title {
  font-family: var(--font-family);
font-weight: 400;
font-size: 52px;
line-height: 119%;
letter-spacing: 0em;
color: var(--light-text);

margin-top: 50px;
padding: 10px;

}

.gallery_text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.01em;
text-align: center;
color: var(--light-text);

padding: 10px;
width: 591px;
}

.gallery_list {
}

.contents_item {
}

.gallery_image1 {
}

.gallery_item {
}

.gallery_image2 {
}

.gallery_image3 {
}

.gallery_image4 {
}

.gallery_list2 {
}

.gallery_image5 {
}

.gallery_image6 {
}

.gallery_image7 {
}

.gallery_btn {
}

