@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular.otf");
}

:root {
  --font-family: "Graphik", sans-serif;
}

:root {
  --primary: #4452fe;
  --secondary: #02e4c0;
  --secondary: #112d57;
  --first-text: #000;
  --light-text: #fff;
  --second-text: #5c5c5c;
  --dark-background: #181818;
  --light-background: #fff;
}

body {
  background-color: var(--dark-background);
}

.container {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
}

/* -----HEADER----- */
.header .container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  padding: 10px;
  width: 206px;
  height: 78px;
}

.logo_img {
  width: 186px;
  height: 58px;
}

.nav {
}

.nav_list {display: flex;
	gap: 32px;padding: 10px;
}

.nav_item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--light-text);
  cursor: pointer;
}

.nav_item:hover, .nav_item:focus{color: var(--primary);}

.auth {
}

.login {
	border: 1px solid var(--light-text);
padding: 14px 36px;
/* width: 139px; */
/* height: 52px; */
box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;

font-family: var(--font-family);
font-weight: 500;
font-size: 17px;
line-height: 147%;
letter-spacing: 0.01em;
color: var(--light-text);
cursor: pointer;

}.login:hover, .login:focus{
	background-color: var(--primary);
}


.header_burger{
	width: 66px;
	height: 53px;
	display: none;
}
