:root {
  --font-family: "Graphik", sans-serif;
}

:root {
	--primary: #4452fe;
	--secondary: #02e4c0;
	--secondary: #112d57;
	--first-text: #000;
	--light-text: #fff;
	--second-text: #5c5c5c;
	--dark-background: #181818;
	--light-background: #fff;
}

body{
    background-color: var(--second-text);
}